.dropzone{
  width: 100%;
  height: 120px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
  line-height: 120px;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.dropzone-area{
  text-align: center;
}

.dropzone-area .btn-uploader {
  margin-top: 25px;
  margin-bottom: 20px;
}
